@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'variables.css';

/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*===[ Global ]=================================================================*/
:root{
    background-color: var(--bg-color);
    color: var(--dark-gray);
}

.body-wrapper{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}
/*===[ End Global   ]===========================================================*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*===[ Public Pages ]===========================================================*/
.card-welcome{
    text-align: center;
}

.card-welcome h1{
    font-size: 18px;
    margin-bottom: 20px;
}

.card-welcome a{
    background-color: var(--main-color);
    letter-spacing: 0.1em;
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--bg-color);
    padding: 9px 16px;
    width: 140px;
    border-radius: 5px;
}

#welcome-links{
    display: flex;
    justify-content: space-around;
}

.card-welcome a:hover{
    background-color: var(--main-light);
}

.card-welcome a:active{
    background-color: var(--main-dark);
}
/*===[ End Public Pages ]=======================================================*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*===[ Navigation ]=============================================================*/
.nav{
    height: 8vh;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 15px 35px;
    justify-content: space-between;
}

.nav-links{
    width: 85vw;
}

.nav img{
    height: 40px;
    width: auto;
    margin-right: 50px;
}

.nav-links a{
    margin-right: 3vw;
}
/*===[ End Navigation ]=========================================================*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*===[ Main ]===================================================================*/
/*---[ Main:Global ]---*/
.main-grid{
    height: 86vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 35px;
    padding: 35px;
    grid-template-areas:
        "dash-teams dash-image dash-image"
        "dash-tournament dash-tournament dash-team";
}
/*---[ Main:User Dashboard + Components ]---*/

.dash-teams{
    grid-area: dash-teams;
}

.dash-image{
    width: 100%;
    height: 100%;
    grid-area: dash-image;
    overflow: hidden;
}

.dash-tournament{
    grid-area: dash-tournament;
}

.dash-team{
    grid-area: dash-team;
}

.main-table table, .main-table th, .main-table tr, .main-table td{
    border: 1px solid black;
    text-align: left;
}

.main-table th, .main-table td{
    padding-left: 10px;
}

.main-table{
    width: 100%;
    height: 100%;
}

.main-table .nopad{
    padding-left: 0 ;
}
.toplay-table{
    width: 100%;
}
.playingnow-table{
    width: 100%;
}
.played-table{
    width:100%;
}

.names-table{
    width: 100%;
    height: 100%;
}



/*===[ End Main ]===============================================================*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
/*===[ Footer ]=================================================================*/
.foot{
    background-color: var(--light-gray);
    /*margin-top: auto;*/
    display: flex;
    justify-content: space-between;
    padding: 15px 35px;
    height: 6vh;
}
/*===[ End Footer ]=============================================================*/
/*::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
